body {
    background-color: rgba(0, 128, 0, 0.3);
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  button {
    background-color: lightblue;
  }

  * {
    
    color: rgb(5, 5, 6);
  }
  